<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Daily UI - Day 1 Sign In</title>

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
<div class="container">
  <div class="top" style="font-size: 0.8em">
    <h1 id="title" class="hidden"><span id="logo">Supermercado <span style="display: inline-block; margin-top: 8px">(((DELE)))</span></span></h1>
  </div>
  <div class="login-box animated fadeInUp">
    <div class="box-header">
      <h2>Log In</h2>
    </div>
    <form [formGroup]="formulario">
      <mat-card class="card">

        <div class="input">
          <mat-form-field>
            <input formControlName="cpf" matInput placeholder="CPF">
          </mat-form-field>
        </div>
        <button (click)="verificarUsuario()">
          Entrar
        </button>
      </mat-card>

    </form>
  </div>
</div>
</body>

<script>
  $(document).ready(function () {
    $('#logo').addClass('animated fadeInDown');
    $("input:text:visible:first").focus();
  });
  $('#username').focus(function() {
    $('label[for="username"]').addClass('selected');
  });
  $('#username').blur(function() {
    $('label[for="username"]').removeClass('selected');
  });
  $('#password').focus(function() {
    $('label[for="password"]').addClass('selected');
  });
  $('#password').blur(function() {
    $('label[for="password"]').removeClass('selected');
  });
</script>

</html>
