<div class="faixa">
    <button routerLink="/usuario-tela" *ngIf="veririficarUsuario('USUARIO')" class="primeiroBotao">USUÁRIOS</button>
    <button routerLink="/cadastro-produto" *ngIf="veririficarUsuario('PRODUTO')" class="segundoBotao">CADASTRAR PRODUTO</button>
    <button routerLink="/entrada-estoque" *ngIf="veririficarUsuario('ESTOQUE')" class="primeiroBotao">ENTRADA ESTOQUE</button>
    <button routerLink="/cateferia" *ngIf="veririficarUsuario('CAFETERIA')" class="primeiroBotao">CAFETERIA</button>
    <button routerLink="/venda" class="primeiroBotao">VENDA</button>
</div>
