<div class="faixa">
    <button routerLink="/usuario-tela" *ngIf="veririficarUsuario('USUARIO')" class="primeiroBotao">USUÁRIOS</button>
    <button routerLink="/cadastro-produto" *ngIf="veririficarUsuario('PRODUTO')" class="segundoBotao">CADASTRAR PRODUTO</button>
    <button routerLink="/entrada-estoque" *ngIf="veririficarUsuario('ESTOQUE')" class="primeiroBotao">ENTRADA ESTOQUE</button>
    <button routerLink="/cartaocliente" *ngIf="veririficarUsuario('CARTAOCLIENTE')" class="primeiroBotao">CARTAO CLIENTE</button>
    <button routerLink="/cateferia" *ngIf="veririficarUsuario('CAFETERIA')" class="primeiroBotao">CAFETERIA</button>
    <button routerLink="/venda" *ngIf="veririficarUsuario('VENDA')" class="primeiroBotao">VENDA</button>
    <button routerLink="/relatorios" *ngIf="veririficarUsuario('RELATORIOS')" class="primeiroBotao">RELATÓRIOS</button>
    <button routerLink="/fiscal-saida" *ngIf="veririficarUsuario('FISCAL')" class="primeiroBotao">FISCAL</button>
</div>
