* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Lucida Sans';
}

.telaMatCard{
    width: 90%; 
    margin-left: 4%; 
    margin-top: 30px;
}

.tituloTela{
    font-size: 22px;
}