<app-principal></app-principal>
<mat-card class="telaMatCard">
    <mat-card-title class="tituloTela">Relatórios</mat-card-title>
    <br>
    <mat-form-field class="campo espacamentoCampos">
        <input matInput placeholder="DATA INICIO"
        [(ngModel)]="dataInicio" name="dataInicio" type="date"
        style="margin-left: 4px;">
    </mat-form-field>

    <mat-form-field class="campo espacamentoCampos">
        <input matInput placeholder="DATA FIM"
        [(ngModel)]="dataFim" name="dataFim" type="date"
        style="margin-left: 4px;">
    </mat-form-field>

    <br>
    <br>

    <button mat-raised-button color="primary" class="espacamentoPrimeiroBotao espacamentoBotoesCima" (click)="gerarRelatorioPorProduto()">
        Relatório Produtos
    </button>

    <button mat-raised-button color="primary" class="espacamentoPrimeiroBotao espacamentoBotoesCima" (click)="gerarRelatorioPorCliente()">
        Relatório Cliente
    </button>

    <button mat-raised-button color="primary" class="espacamentoPrimeiroBotao espacamentoBotoesCima" (click)="gerarRelatorioPorSetor()">
        Relatório Setor
    </button>
    
    <button mat-raised-button color="primary" class="espacamentoPrimeiroBotao espacamentoBotoesCima" (click)="gerarRelatorioPorTipo()">
        Relatório Tipo
    </button>

</mat-card>
