<app-principal></app-principal>
<mat-card class="telaMatCard">
    <mat-card-title class="tituloTela">Relatórios</mat-card-title>
    <button mat-raised-button color="primary" class="espacamentoPrimeiroBotao espacamentoBotoesCima" (click)="gerarRelatorio()">
        Relatório Vendas
    </button>

    <button mat-raised-button color="primary" class="espacamentoPrimeiroBotao espacamentoBotoesCima">
        Relatório Cliente
    </button>

    <button mat-raised-button color="primary" class="espacamentoPrimeiroBotao espacamentoBotoesCima">
        Relatório Cafeteria
    </button>
    
    <button mat-raised-button color="primary" class="espacamentoPrimeiroBotao espacamentoBotoesCima">
        Relatório Produto
    </button>

</mat-card>
