<mat-card class="telaMatCard">
    <mat-card-title class="tituloTela">Gerenciamento de Usuários</mat-card-title>
    <form style="margin-top: 30px;">
    
        <mat-form-field class="campo espacamentoCampos">
            <input matInput placeholder="NOME"
            [(ngModel)] = "nome" name="nome" type="text"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <mat-form-field class="campo espacamentoCampos">
            <input matInput placeholder="CPF"
            [(ngModel)] = "cpf" name="cpf" type="text"
            style="margin-left: 4px;"> 
        </mat-form-field>

        <div class="multiselect espacamentoCampos">
            <ng-multiselect-dropdown name="telas"
                [formControl]="controlTelas"
                [settings]="dropdownSettings"
                [data]="telas"
                [placeholder]="'Telas'"
                [(ngModel)]="telasSelecionadas">
            </ng-multiselect-dropdown>
        </div>
    </form>

    <button mat-raised-button color="primary" class="espacamentoPrimeiroBotao espacamentoBotoesCima"
    (click)="inserir()">
        Cadastrar
    </button>

    <button mat-raised-button color="primary" class="espacamentoBotoes espacamentoBotoesCima">
        Atualizar
    </button>

    <button mat-raised-button color="primary" class="espacamentoInicioBotoes espacamentoBotoesCima">
        Limpar
    </button>

    <button mat-raised-button color="primary" class="espacamentoBotoes espacamentoBotoesCima">
        Pesquisar
    </button>


    <div class="mat-elevation-z2" style="margin-top: 30px;">
        <table mat-table [dataSource]="dataSource" style="width: 100%;">

          <!-- Nome Usuario -->
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let usuario" > {{usuario.nome}} </td>
          </ng-container>

          <!-- cpf Usuario -->
          <ng-container matColumnDef="cpf">
              <th mat-header-cell *matHeaderCellDef> CPF </th>
              <td mat-cell *matCellDef="let usuario" > {{usuario.cpf}} </td>
            </ng-container>

            <!-- Telas Usuário -->
          <ng-container matColumnDef="telas">
            <th mat-header-cell *matHeaderCellDef> Telas </th>
            <td mat-cell *matCellDef="let usuario">
                {{ nomesTelasPorUsuario(usuario) }}
            </td>
          </ng-container>
      
          <ng-container matColumnDef="acao">
            <th mat-header-cell *matHeaderCellDef style="text-align: right;">Ações</th>
            <td mat-cell *matCellDef="let row" style="text-align: right;">
                <a >
                    <i class="material-icons edit" (click)="carregar(row)">
                        edit
                    </i>
                </a>
                <a >
                    <i class="material-icons delete" (click)="excluir()">
                        delete
                    </i>
                </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons 
                       aria-label="Select page of periodic blocos">
        </mat-paginator>
      </div>

</mat-card>