.campo{
    width: 500px;
}

.espacamentoCampos {
    margin-left: 3%;
}

.espacamentoBotoesCima{
    margin-top: 20px;
}

.espacamentoBotao {
    margin-left: 1%;
}
.carrinho {
    width: 100%;
}

.lista_produtos{
    display: inline;
    list-style-type: none;
}